{% extends "base.html" %}

{% block content %}
    <h1>Приветствую, {{ user }}!</h1>
    <hr>
    {% for post in posts %}
    <div><p>{{ post.author.username }} говорит: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
